body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  background-image: url('../stock/background.png');
  height: auto;
  width: 100vw;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-repeat: repeat-y;
}

.background2{
  background-image: url('../stock/background.png');
  height: auto;
  width: 100vw;
  margin: 0;
  position: absolute;
  top: 100vh;
  left: 0;
  z-index: -1;
  background-repeat: repeat-y;
}

.background3{
  background-image: url('../stock/background.png');
  height: auto;
  width: 100vw;
  margin: 0;
  position: absolute;
  top: 200vh;
  left: 0;
  z-index: -1;
  background-repeat: repeat-y;
}

h1 {
  margin: 0;
  padding: 0.5em;
  color: white;
  font-family: var(--font-indie-flower)
}

h2 {
  margin: 0;
  margin: 0.5em;
  color: white;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  flex-direction: column;
}

.hero {
  font-size: 5em;
}

.terminal {
  color: white;
  width: 50vw;
  border: 2px solid rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
  padding: 1em;
  background-color: rgb(39, 39, 39);
  border-radius: 1em;
  margin: 2em;
}

.cursor {
  display: inline-block;
  width: 8px;
  height: 18px;
  background-color: white;
}

.copy-icon {
  cursor: pointer;
}

.connect-btn {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 1em;
  padding: 0.5em;
  font-size: 1.1em;
  color: rgb(39, 39, 39);
  cursor: pointer;
  position: absolute;
  top: 5%;
  right: 2%;
}

.bounty-btn{
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 1em;
  padding: 0.5em;
  font-size: 1.1em;
  color: rgb(39, 39, 39);
  cursor: pointer;
  position: absolute;
  top: 5%;
  left: 2%;
}

.bounty-btn>a{
  text-decoration: none;
  color: rgb(39, 39, 39);
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

p{
  width: 60%;
  color: white;
  font-size: 1.5em;
  margin: 0.5em;
}